{{ define "inspecturl.html" }}
<html><h1>
	NiQurl
</h1>
<p>ShortURL: <a href=http://{{ .shorturl }}>{{ .shorturl }}</a></p>
<p>Redirects to: <a href={{ .longurl }}>{{ .longurl }}</a></p>
<p>Submitted by: {{ .user }}</p>
</html>
{{ end }}